@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/*
josef tarzı yazı stili 
font-family: 'Josefin Sans', sans-serif;
 */
 @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
 /* 
 paclifico tarzı
 font-family: 'Pacifico', cursive;
 */
 @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/* font-family: 'Satisfy', cursive; */
 @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 /* ubuntu */
 @import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 /*
  arvo
  font-family: 'Arvo', serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Dancing+Script:wght@400..700&display=swap');
/*
font-family: "Dancing Script", cursive;
dancing sc
 */